<div id="post">
        <div id="postheader">
          
            <h3>{{post.title}}</h3>
            <h5>posted by: {{post.user.username}}</h5>
        </div>
        <p>{{post.content}}</p>
        <div id="postfooter">
            <h6>posted on: {{post.createdAt}}</h6>
            
            </div>
            <div class="comments">
                
                <h5>Comments:</h5>
                {{#unless comments}}
                <p>no comments yet</p>
                {{/unless}}
                
                {{#if comments}}
                 {{#each comments}}
                 <div class="comment">
                 <p>{{this.user.username}}</p>
                <p>{{this.content}}</p>
                </div>
                {{/each}}
                
                {{/if}}
            </div>
            {{#unless user}}
            <p>sign in to leave a comment</p>
            {{/unless}}
{{#if user}}
               <form id="addcomment" action="/post/{{post.id}}" method="POST">
                <input name="content" type="text" placeholder="">

                <button>Add a comment</button>
            </form>
            {{/if}}
       </div>